# folder layout
!layout/

# folder node_modules
node_modules/

# folder in libs
build/libs/animate
build/libs/jquery
build/libs/modernizr

# folder in sass
sass/pages/

# scripts
build/js/scripts.min.js